<form [formGroup]="registerForm" class="register-form">
    <!-- שם -->
    <mat-form-field appearance="fill">
        <mat-label>שם</mat-label>
        <input matInput formControlName="name" name="name" id="name"  />
        <mat-error *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
            שם הוא שדה חובה
        </mat-error>
    </mat-form-field>

    <!-- כתובת -->
    <mat-form-field appearance="fill">
        <mat-label>כתובת</mat-label>
        <input matInput formControlName="address" name="address" id="address" />
    </mat-form-field>

    <!-- מייל -->
    <mat-form-field appearance="fill">
        <mat-label>מייל</mat-label>
        <input matInput type="email" formControlName="email" name="email" id="email" />
        <mat-error
            *ngIf="registerForm.controls['email'].errors?.['required'] && registerForm.controls['email'].touched">
            אימייל הוא שדה חובה </mat-error>
        <mat-error *ngIf="registerForm.controls['email'].errors?.['email']">
            המייל לא תקין
        </mat-error>
    </mat-form-field>

    <!-- סיסמה -->
    <mat-form-field appearance="fill">
        <mat-label>סיסמה</mat-label>
        <input matInput type="password" formControlName="password" name="password" id="password" />
        <mat-error
            *ngIf="registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched">
            סיסמה היא שדה חובה </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['minlength']">
            סיסמה חייבת להיות להיות מינימום 6 ספרות </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['maxlength']">
            סיסמה חייבת להיות מקסימום 10 ספרות </mat-error>
        <mat-error *ngIf="registerForm.controls['password'].errors?.['pattern']">
            סיסמה צריכה להיות בעלת לפחות 2 אותיות </mat-error>
    </mat-form-field>

    <!-- כפתור שמירה -->
    <button mat-raised-button color="primary" type="submit" (click)="saveNewLecture()" [disabled]="!registerForm.valid">
        Save
    </button>
</form>




