<!-- <div [ngClass]="{'thisWeek': closerDate()}"> -->
  <div >
  <mat-card class="course-card" [ngClass]="{'thisWeek': closerDate()}" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="course-avatar"></div>
      <mat-icon class="mode-icon">{{ oneCourse.modeId | getMode }}</mat-icon>
      <mat-card-title>{{ oneCourse.courseName }}</mat-card-title>
      <!-- <mat-card-subtitle>{{ oneCourse.categoryId | getCategory | async }} </mat-card-subtitle> -->
      <img class="imgCategory" [src]="oneCourse.categoryId | getCategory | async"/>
    </mat-card-header>
    
    <img mat-card-image [src]="oneCourse.imagePath" alt="{{ oneCourse.courseName }}">
    
    
    
    <mat-card-actions>
      <button mat-button color="primary" *ngIf="coursesLecturer()" (click)="update()">
        <mat-icon>edit</mat-icon> עדכון פרטים
      </button>
    
    </mat-card-actions>
  </mat-card>
</div>
