<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <nav>
   <a routerLink="">התחברות</a>
    <a routerLink="/Register/ ">הרשמה </a>
    <span class="dot">•</span>
   <a routerLink="/allCourses">כל הקורסים</a>
   <a routerLink="/AddCourse">הוסף קורס</a>
</nav>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"> -->
     @if(userInitial!=""){
      <div class="user-initial">{{ userInitial }}</div>}
    <!-- </button> -->
    <button (click)="logoutUser()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon > logout</mat-icon>
    </button>
  </mat-toolbar>
  
<!-- <nav>
    <ul>
        <li><a routerLink="">Login</a></li>
        <li><a routerLink="/Register/ ">Register</a></li>
        <li><a routerLink="/allCourses">All Courses</a></li>
        <li><a routerLink="/AddCourse">AddCourse</a></li>
    </ul>
</nav> -->
<router-outlet></router-outlet>

<!-- 
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->


  

