.mat-tab-group {
    margin-bottom: 48px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  nav a{
    margin: 0% 5%;
    text-decoration: none;
    color: gray;
  }
  mat-toolbar{
    text-align: center;
  }