<div class="login-container">
  <h2>התחברות</h2>
  <form class="example-form" (ngSubmit)="isLecturerExist()">
      <mat-form-field class="example-full-width">
          <mat-label>שם משתמש</mat-label>
          <input matInput name="username" placeholder="שם משתמש" [(ngModel)]="username" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>סיסמא</mat-label>
          <input type="password" name="password" placeholder="סיסמה" [(ngModel)]="password" matInput required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!username || !password">התחברות</button>
  </form>

  <form (ngSubmit)="LecturerRegistration()">
      <p>הרשמה כמרצה</p>
      <mat-form-field class="example-full-width">
          <mat-label>שם קורס</mat-label>
          <input matInput name="courseName" placeholder="שם הקורס" [(ngModel)]="courseName" required>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" [disabled]="!courseName">הרשם</button>
  </form>
</div>
