
/* עיצוב ל-mat-form-field */
.custom-form-field {
  width: 100%;
  margin-bottom: 16px;
  height: 80px; 

}

.custom-mat-select .mat-select-trigger {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-mat-select .mat-option {
  padding: 8px;
}

.custom-mat-select .mat-option:hover {
  background-color: #f1f1f1;
}

/* עיצוב ל-select הרגיל */
.custom-select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.custom-select option {
  padding: 8px;
}

.custom-select option:hover {
  background-color: #f1f1f1;
}

/* עיצוב לסינון הקורסים */
.allCours {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.grid-item {
  flex: 1 1 calc(33.333% - 16px);
  gap: 2%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* עיצוב להודעות חיפוש */
p {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin-top: 16px;
}
.allContainer{
  margin-top: 5%;
}
.filter-container {
  display: flex;
  justify-content: center; /* ממרכז את האלמנטים */
  gap: 16px; /* רווח בין האלמנטים */
  margin: 0 auto; /* ממרכז את המיכל כולו */
  max-width: 800px; /* הגדרת רוחב מקסימלי */
}

.custom-form-field,
.custom-select {
  flex: 1; /* מבטיח שכל אחד מהשדות יתפוס את אותו שטח */
  max-width: 400px;
}

