<div class="allContainer">
  <div class="mean filter-container">
    <mat-form-field class="custom-form-field">
      <mat-label>סנן לפי שם</mat-label>
      <input (input)="onInputChange($event)" matInput>
    </mat-form-field>
  
    <mat-form-field class="custom-form-field">
      <mat-label>קטגוריה:</mat-label>
      <mat-select (selectionChange)="onCategoryChange($event)" class="custom-mat-select">
        <mat-option value="">בחר קטגוריה</mat-option>
        <mat-option *ngFor="let item of category" [value]="item.categoryId">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="custom-form-field">
      <mat-label>אופן למידה:</mat-label>
      <mat-select (selectionChange)="onLearningModeChange($event)" class="custom-mat-select">
        <mat-option value="">בחר אופן למידה</mat-option>
        <mat-option value="1">פרונטלי</mat-option>
        <mat-option value="2">זום</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  

<div class="allCours" *ngIf="filteredCourses && filteredCourses.length > 0; else noCourses">
  <div class="grid-item" *ngFor="let item of filteredCourses">
   <a [routerLink]="['/oneCourse', item.courseId]" [state]="{ course: item }"><app-course-details [oneCourse]="item"></app-course-details></a>
  </div>
</div>

<ng-template #noCourses>
  <p>לא נמצאו קורסים התואמים לחיפוש שלך.</p>
</ng-template>
